{{ partial "head.html" . }}
{{ partial "nav.html" . }}

  <section style="padding-top:40px">
    <div class="content-section-b">
      <h1 style="margin-bottom:20px" class="text-center">Our Partners</h1>
      <div class="container">
        <div class="row">
          {{ range $index, $element :=  .Data.Pages }}
            <div class="col-lg-4 partner-frame">
              <div class="clearfix"></div>
                {{ $title := .Params.title }}
                {{ with .Params.img }}
                  <img class="img-responsive" src="img/{{ . }}" alt="{{ $title }}">
                {{ end }}
              <hr>
              <div>
                {{.Content}}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="content-section-a">
      <h1 style="margin-bottom:20px" class="text-center">{{ .Title }}</h1>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="clearfix"></div>
              {{.Content}}
          </div>
        </div>
      </div>
    </div>
  </section>

{{ partial "footer.html" . }}
