{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<section id="services">
  <div class="content-section-b">
    <h1 style="margin-bottom:80px" class="text-center">Our Partners</h1>
  </div>
</section>

    <section id="services">
        <div class="content-section-b">
        <div class="container">
          <div class="row">
            {{ range $index, $element :=  .Data.Pages }}
            <div class="col-lg-4" style="padding:40px">
              <div class="clearfix"></div>
                {{ with .Params.img }}
                  <img style="height:50px;margin-left:auto;margin-right:auto;display:block" class="img-responsive" src="img/{{ . }}" alt="">
                {{ end }}
                <hr>
                <div>
                  {{.Content}}
                </div>
            </div>
            {{ end }}

          </div>
      </div>
    </section>

{{ partial "footer.html" . }}
