  <footer>
    <div class="container">
      <div class="row">
        {{ range where .Data.Pages "Section" "contact" | first 1 }}
          <div class="col-lg-3" style="padding-bottom:20px">
            {{with .Param "company.github"}}
              <a href="{{.}}" target="_blank" style="padding-bottom:20px;"><img style="width:20px" src="img/github.jpg"></a>
            {{end}}
          </div>
          <div class="col-lg-6"></div>
            <div class="col-lg-3" id="contact">
              <div class="clearfix"></div>
                <ul class="list-unstyled">
                  {{with .Param "company.name"}}<li>{{.}}</li>{{end}}
                  {{with .Param "company.address1"}}<li>{{.}}</li>{{end}}
                  {{with .Param "company.address2"}}<li>{{.}}</li>{{end}}
                  {{with .Param "company.address3"}}<li>{{.}}</li>{{end}}
                  {{with .Param "company.country"}}<li>{{.}}</li>{{end}}
                  {{with .Params.details}}
                    <hr>
                    <li><a href="{{.}}" class="btn btn-default btn_inverted">Read more</a></li>
                  {{end}}
              </ul>
          </div>
        {{ end }}
      </div>
    </div>
  </footer>
  {{ partial "js.html" . }}
</body>
</html>
