  <footer>
    <div class="container">
      <div class="row">
          <div class="col-lg-3" style="padding-bottom:20px">
            {{with .Site.Params.github}}
              <a href="{{.}}" target="_blank" style="padding-bottom:20px;"><img style="width:20px" src="img/github.jpg"></a>
            {{end}}
          </div>
          <div class="col-lg-6"></div>
            <div class="col-lg-3" id="contact">
              <div class="clearfix"></div>
              <ul class="list-unstyled">
              {{with .Site.Params.name}}<li>{{.}}</li>{{end}}
              {{with .Site.Params.address1}}<li>{{.}}</li>{{end}}
              {{with .Site.Params.address2}}<li>{{.}}</li>{{end}}
              {{with .Site.Params.address3}}<li>{{.}}</li>{{end}}
              {{with .Site.Params.country}}<li>{{.}}</li>{{end}}
              {{with .Site.Params.details}}
                <hr>
                <li><a href="{{.}}" class="btn btn-default btn_inverted">Read more</a></li>
              {{end}}
              </ul>
          </div>
      </div>
    </div>
  </footer>
  {{ partial "js.html" . }}
</body>
</html>
