{{ range where .Data.Pages "Section" "intro" | first 1 }}
	<section id="intro">
		{{ with .Params.details }}
			<a href="{{.}}">
		{{ end }}
			<div class="intro-header simple-hover">
			    <div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="intro-message">
								</div>
							</div>
						</div>
			    </div>
			</div>
		{{ with .Params.details }}
			</a>
		{{ end }}

		<div class="content-section-b">
			<div class="row">
				<div class="col-lg-12">
					<div style="padding-top:40px;padding-bottom:40px;font-size:15pt" class="text-center">
					{{ .Content }}
					</div>
					{{ with .Params.details }}
					<div style="padding-bottom:40px">
						<p class="text-center"><a href="{{.}}" class="btn btn-default">Read more</a></p>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
	</section>
{{ end }}
