<section id="partners">
  <div class="content-section-b">
    <h1 class="text-center">Partners</h1>
    <hr class="intro-divider">
    <div class="container" class="text-center">
      <div class="row">
        {{ range $index, $element :=  .Data.Pages }}
          {{ if eq .Section "partners" }}
            <div class="col-lg-3">
              <div class="clearfix"></div>
                <div style="padding-bottom:50px;padding-top:50px" class="text-center">
                  <a href="{{.Params.link}}" target="_blank">
                      <img  style="display:block;margin-left:auto;margin-right:auto;height:50px"
                            class="img-responsive text-center"
                            src="img/{{ .Params.img }}"
                            alt="{{.Params.title}}">
                  </a>
                </div>
            </div>
        {{ end }}
      {{ end }}
      </div>
    </div>
  </div>
</section>
