<section>
  <div class="content-section-b">
    <div class="container" class="text-center">
      <div class="row">
        {{ range $index, $element :=  .Data.Pages }}
          {{ if eq .Section "partners" }}
            {{ if eq .Params.front true }}
              <div class="partners">
                <div class="clearfix"></div>
                  <a href="{{.Params.link}}" target="_blank">
                      <img src="img/{{ .Params.img }}"
                          alt="{{.Params.title}}">
                      {{if isset .Params "title"}}<span>{{.Params.title}}</span> {{ end }}
                  </a>
              </div>
          {{ end }}
        {{ end }}
      {{ end }}
      </div>
    </div>
  </div>
</section>
