<section id="services">
  <div class="content-section-a">
    <h1 class="text-center">Services</h1>
    <hr class="intro-divider">
    <div class="container">
      <div class="row">
        {{ range $index, $element :=  .Data.Pages }}
          {{ if eq .Section "services" }}
            <div class="col-lg-6">
              <div class="clearfix"></div>
              <div>
                <h3 class="text-center section-heading">{{ .Title }}</h3>
                <div style="padding-top:20px">
                  {{with .Params.details}}<a href="{{.}}">{{ end}}
                  {{ with .Params.img }}
                    <img class="img-responsive" src="img/{{ . }}" alt="">
                  {{ end }}
                  {{with .Params.details}}</a>{{ end}}
                </div>
                <div style="padding-top:20px">
                  {{ .Content }}
                </div>
              </div>
              {{ with .Params.details }}
                <div style="padding-top:40px">
                  <p class="text-center"><a href="{{.}}" class="btn btn-default">Read more</a></p>
                </div>
              {{ end }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
